<html>
{%load static%}
<link href="{% static 'style.css'%}" rel="stylesheet">

<body>
	<title>\root</title>
	<div id="up">
		<p id="title">root\<strong>crypt#</strong></p>
		<ul>
			<li id="dashboard">dashboard</li>
			<li id="leaderboard">leaderboard</li>
			<li id="registerbutton">login</li>
		</ul>

	</div>
	<div id="content">
		{% block content %}
		<div id="messages">
			{%if user.is_authenticated%}
			<h1>You are logged in, {{request.user.username}}. How is the hacking going?</h1>
			<!--<h2>{{levelstatus}}</h2>
			<ul id="progress-info">
				<li>
					<strong>points\</strong>{{userinfo.points}}
				</li>
				<li>
					<strong>completed\</strong>{{userinfo.completed}}
				</li>
			</ul>
			{% if userinfo.is_playing == True %}
			<div id="level">
				<h1>{{currentlevel.level}}</h1>
				<form name="levelform" action="index.html" method="POST">
					{%csrf_token%}
					<p>{{currentlevel.question|linebreaks}}</p>
					<input name="answertext" type="text" placeholder="Answer">
					<button name="answer-button" type="submit">Enter</button>
				</form>
			</div>
			{% else %}
			<div id="instruction">Pick the character you wish to remove. Remove all characters until <strong>only hashes
					remain</strong></div>
			<form id="game" action="" method="post">
				{%csrf_token%}
				<h2>#</h2>
				{%if "a" in completedlist%}
				{%else%}
				<button id="a" type="submit" value="a" name="level">a</button>
				{%endif%}

				<h2>#</h2>
				{%if "x" in completedlist%}
				{%else%}
				<button type="submit" value="x" name="level">x</button>
				{%endif%}

				{%if "2" in completedlist%}
				{%else%}
				<button type="submit" value="2" name="level">2</button>
				{%endif%}

				{%if "y" in completedlist%}
				{%else%}
				<button type="submit" value="y" name="level">y</button>
				{%endif%}
				<h2>#</h2>
				{%if "z" in completedlist%}
				{%else%}
				<button type="submit" value="z" name="level">z</button>
				{%endif%}

				{%if "h" in completedlist%}
				{%else%}
				<button type="submit" value="h" name="level">h</button>
				{%endif%}

				<h2>#</h2>
				{%if "1" in completedlist%}
				{%else%}
				<button type="submit" value="1" name="level">1</button>
				{%endif%}

				{%if "3" in completedlist%}
				{%else%}
				<button type="submit" value="3" name="level">3</button>
				{%endif%}

				{%if "9" in completedlist%}
				{%else%}
				<button type="submit" value="9" name="level">9</button>
				{%endif%}

				{%if "g" in completedlist%}
				{%else%}
				<button type="submit" value="g" name="level">g</button>
				{%endif%}

				<h2>#</h2>
				{%if "d" in completedlist%}
				{%else%}
				<button type="submit" value="d" name="level">d</button>
				{%endif%}

				{%if "e" in completedlist%}
				{%else%}
				<button type="submit" value="e" name="level">e</button>
				{%endif%}

				{%if "7" in completedlist%}
				{%else%}
				<button type="submit" value="7" name="level">7</button>
				{%endif%}

				{%if "5" in completedlist%}
				{%else%}
				<button type="submit" value="5" name="level">5</button>
				{%endif%}
				<h2>#</h2>

				{%if "4" in completedlist%}
				{%else%}
				<button type="submit" value="4" name="level">4</button>
				{%endif%}

				{%if "1" in completedlist%}
				{%else%}
				<button type="submit" value="1" name="level">l</button>
				{%endif%}
				<h2>#</h2>

				{%if "6" in completedlist%}
				{%else%}
				<button type="submit" value="6" name="level">6</button>
				{%endif%}
				<h2>#</h2>

				{%if "n" in completedlist%}
				{%else%}
				<button type="submit" value="n" name="level">n</button>
				{%endif%}

				{%if "8" in completedlist%}
				{%else%}
				<button type="submit" value="8" name="level">8</button>
				{%endif%}

				{%if "t" in completedlist%}
				{%else%}
				<button type="submit" value="t" name="level">t</button>
				{%endif%}

				{%if "c" in completedlist%}
				{%else%}
				<button type="submit" value="c" name="level">c</button>
				{%endif%}
				<h2>#</h2>

				{%if "b" in completedlist%}
				{%else%}
				<button type="submit" value="b" name="level">b</button>
				{%endif%}
				<h2>#</h2>
			</form>
			{%endif%}
			{%else%}
			<h1>You are not logged in. New here? Register.</h1>
			{%endif%}
		</div>-->
		<div id="countdown">
			<p id="demo"></p>
			<a href="">what's approaching?</a>
		</div>
	</div>
	{% endblock content %}
	</div>

	<footer>
		<p>\rootclub</p>
		<br>
		<p>Pure code. Has no 'powered by Unity' banner.</p>
		<br>
		<p><strong>Pocket 8, Sector C, Vasant Kunj, New Delhi, Delhi 110070<strong></p>
		<br>
		<img src="{% static 'ryan.png' %}">
	</footer>
</body>

<script type="text/javascript">
	const body = document.querySelector('body');
	const event = document.querySelector("#dashboard");
	const team = document.querySelector("#leaderboard");



	const register = document.querySelector("#registerbutton");
	event.addEventListener("click", (eventclick) => {
		window.open("/", "_self");
	})
	team.addEventListener("click", (eventclick) => {
		window.open("leaderboard.html", "_self");
	})
	register.addEventListener("click", (eventclick) => {
		window.open("register.html", "_self")
	})

	// Set the date we're counting down to
	var countDownDate = new Date("October 7, 2020 00:00:00").getTime();

	// Update the count down every 1 second
	var x = setInterval(function () {

		// Get today's date and time
		var now = new Date().getTime();

		// Find the distance between now and the count down date
		var distance = countDownDate - now;

		// Time calculations for days, hours, minutes and seconds
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		// Display the result in the element with id="demo"
		document.getElementById("demo").innerHTML = days + "d " + hours + "h "
			+ minutes + "m " + seconds + "s ";

		// If the count down is finished, write some text
		if (distance < 0) {
			clearInterval(x);
			document.getElementById("demo").innerHTML = "STARTING SOON";
		}
	}, 1000);

</script>

</html>