{% extends 'index.html' %}
{% block content %}

<div id="messages">
    <h1>{{notification}}</h1>
</div>
<div id="form">
    <div id="heading"><h1>/register</h1></div>
    <div id="form-items"><form action="register.html" method="post">
        {% csrf_token %}  
        <input type="text" size="100px" name="name" placeholder="Name">
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" name="registration">Submit</button>
    </form></div>
    
</div>
<div id="form">
    {% if user.is_authenticated %}
    <div id="heading"><h1>{{request.user.username}}</h1></div>
    <form action="register.html" method="post">
        {% csrf_token %}  
        <button name="logout" type="submit">Logout</button>
    </form>
    {%else%}
    <div id="heading"><h1>/login</h1></div>
    <form action="register.html" method="post">
        {% csrf_token %}  
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button name="login" type="submit">Submit</button>
    </form>
    {%endif%}
</div>

{% endblock content %}